{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task 2
{% endblock %}

{% block content %}

    <p>
        Below you will see the details of a <b>previous</b> experiment that took place at a physical location before the COVID-19 pandemic. Your payment for Task 2 will be influenced by this past experiment.
    
        <ol>
            <li>
                Upon arrival to the experimental laboratory, a photo of each person was taken. 
            </li>
            <li>
                Each subject was given an envelope that contained 15 one-dollar bills and 15 blank slips of paper.
            </li>
            <li>
                Each person privately decided how many dollar bills (if any) and how many slips of paper to leave in the envelope. The only requirement was that the number of dollars bills plus the number of slips of paper were to add up to 15.
            </li>
            <li>
                The person then pocketed the remaining dollar bills and slips of paper. Example: The person might (a) Leave $5 and ten slips in the envelope, pocket $10 and five slips; (b) Leave $7 and eight slips in the envelope, pocket $8 and seven slips. These were examples only; the actual decision was up to each person.
            </li>
            <li>
                These persons were told that the envelopes would be distributed to subjects at another location, and that the recipient of an envelope would get to keep its contents.
            </li>
            <li>
                This concluded their part of the experiment.
            </li>
        </ol>
    </p>


    {% next_button %}

{% endblock %}